#popup
    #popup-help.popup-inner
        .popup-close-btn ✖
        .popup-body
            h2.title HOW TO USE
            p <strong>Wordle</strong>の解答の推測を助けます。
            p 入力フォームにWordleに入力した単語を入れます。送信するには、送信ボタンかエンターキーを押してください。
            p タイルをクリックしてWordleの表示色と合わると、条件に一致する単語が表示されます。
            #popup-help-example
                p: strong Example
                #popup-help-example-imagewrapper
                    //- img(src='./img/example.png')
            p: strong enjoy Wordle life every day!
    #popup-bg
