doctype html
html(lang="ja")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1.0",
            user-scalable="no"
        )
        link(rel="stylesheet", href="./css/destyle.css")
        link(rel="stylesheet", href="./css/style.css")
    body
        header
            .dummy.show-help-btn
                #show-help-btn__inner ?
            h1 Wordle Dict
            .dummy
        #container
            App

        include _popup.pug
        script(src="./js/main.bundle.js")
