[Unit]
Description = Wordle Dictionary Docker
Requires    = docker.service
Wants       = nginx.service
After       = nginx.service
After       = docker.service

[Service]
Type        = simple
User        = root
Group       = root

Environment = COMPOSE_FILE=/var/www/WordleDict/serverside/docker-compose.yml

ExecStartPre=-/usr/local/bin/docker-compose -f ${COMPOSE_FILE} down --volumes
ExecStart   = /usr/local/bin/docker-compose -f ${COMPOSE_FILE} -p wordle-dict up
ExecStop    = /usr/local/bin/docker-compose -f ${COMPOSE_FILE} down --vokumes
Restart     = always
RestartSec  = 10

[Install]
WantedBy    = multi-user.target
