[Unit]
Description = Wordle Dictionary Docker
Requires    = docker.service
Wants       = nginx.service
After       = nginx.service
After       = docker.service

[Service]
Type        = simple
User        = root
Group       = root

ExecStart   = /usr/local/bin/docker-compose -f /var/www/WordleDict/serverside/docker-compose.yml -p WordleDict up
ExecStop    = /usr/local/bin/docker-compose -f /var/www/WordleDict/serverside/docker-compose.yml -p WordleDict down
ExecReload  = /usr/local/bin/docker-compose -f /var/www/WordleDict/serverside/docker-compose.yml -p WordleDict restart
Restart     = always
RestartSec  = 10

[Install]
WantedBy    = multi-user.target
